

.jumbotron {
    border-radius: 0rem;
}


a {
    color: #515e5f;
}

.ui.text.menu {
    background: none transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 1em -.5em;
    padding-left: 2%;
}