.jumbotron {
    margin-bottom: 0px;
    background-image: url('../../img/Homepage.jpeg');
    color: #515e5f;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-right: 0px;
}

.h1 {
    font-weight: 100;
}

#Jumbotron-Project {
    padding-top: 0px;
}